<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
<link rel="icon" type="image/x-icon" href="/static/unknown.jpeg">

</head>
<style>
  table.dataframe, .dataframe th, .dataframe td {
border: none;
border-bottom: 1px solid #C8C8C8;
border-collapse: collapse;
text-align:left;
padding: 10px;
margin-bottom: 40px;
border: 1;
width: 1%;
height: auto;
}
/* .th {
font-size: 2em; 
font-weight: bold;
} */
 </style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <img src="/static/navicon.jpeg" style="width:12%;height:12%" class="center">

        <p style="    color: white;
        padding-left: 1400px;
        padding-top: 40px;
        position: absolute">{{session.name}}</p>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        
        
        
   
      

      </nav>
      <div class="nav-adj">
<div class="sidenav">
  <a href="{{url_for('dashboard')}}" class="nav-space">Home</a>
  <a href="#" class="nav-space">Reset password</a>
  <a href="{{url_for('course_reg')}}" class="nav-space">Register course</a>
  
  <button class="dropdown-btn">Download csv
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{{url_for('download_csv_1')}}">periodical/end semester</a>
    <a href="{{url_for('download_csv_2')}}">continuous assessment</a>
  </div>
  <button class="dropdown-btn">Upload csv
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{{url_for('upload_csv_1')}}">periodical/end semester</a>
    <a href="{{url_for('upload_csv_2')}}">continuous assessment</a>
  </div>
  <a  href="{{url_for('log_out')}}">Log out</a>

  
</div>

<div class="main">
    
    <h2 style="padding-top: 30px; text-align: center;">{{records[0][0]}}</h2>
    <div style="margin-left:20%">
    <table style="font-size:medium">
        <tr>
        <th>
            Course Outcome
        </th>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;Statement
        </th>
    </tr>
        {% for i in range(CO|length) %}
        <tr>
            <td>
                CO0{{i+1}}
            </td>
            <td>
                {{CO[i]}}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br>
    <br>
    <br>
    <div style="margin-left:20%;font-size:small">
        {% for table in mapping %}
            {{ table|safe }}
            {% endfor %}
          </div>
    <div class="squarecard" style="text-align:left;width:400px;height:auto;box-shadow: 0 0 5px 5px blue;margin-left: 35%;">
        <table>
          <tr>
            <th>Class</th>
            <th>Attainment</th>
          </tr>
          {% for your_list_element in records %}
          {% if your_list_element[10]!=None %}
          <tr><td>{{your_list_element[2]}} - {{your_list_element[3]}}</td><td>&nbsp;&nbsp;&#9989;</td></tr>
          {% else %}
          <tr><td>{{your_list_element[2]}} - {{your_list_element[3]}}</td><td>&nbsp;&nbsp;&#10060;</td></tr>
          {% endif %}
          {% endfor %}
          </table>
</div>
</div>
<script>
    for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>
</body>
</html>